<%- include('../partials/header'); %>

    <body>
        <div class="container mt-3">
            <div class="col-md-5 center-block" style="float: none; margin: auto">
                <div style="margin-top: 10px">
                    <a href="/leaseSystem/leaseManage">back</a>
                </div>
                <div style="margin-top: 10px" class="card text-center">
                    <div class="card-header">
                        <h4 style="margin:auto" class="font-weight-bold">House Data</h4>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input type="text" class="form-control" id="title" name="title" value="<%=houseData.title%>"
                            readonly>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Picture</label>
                        <picture></picture>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Owner Address</span>
                        <input type="text" class="form-control" id="uploader" name="uploader"
                            value="<%=houseData.ownerAddress%>" readonly>
                    </div>
                    <% if (houseData.agent !="0x" ) { %>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Agent Address</span>
                            <input type="text" class="form-control" id="uploader" name="uploader"
                                value="<%=houseData.agent%>" readonly>
                        </div>
                        <%} %>
                            <div class="input-group mb-3">
                                <span class="input-group-text">House Address</span>
                                <input type="text" class="form-control" id="houseAddress" name="houseAddress"
                                    value="<%=houseData.houseAddress%>" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">House Area</span>
                                <input type="text" class="form-control" value="<%=houseData.area%>" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Room Type</span>
                                <input type="text" class="form-control" id="roomType" name="roomType"
                                    value="<%=houseData.type%>" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Rent</span>
                                <input type="text" class="form-control" id="rent" name="rent" value="<%=rentData.rent%>"
                                    readonly>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label">Describe</label>
                                <input type="text" class="form-control" id="describe" name="describe"
                                    value="<%=houseData.describe%>" readonly>
                            </div>
                </div>
            </div>
        </div>
        <% if (address==houseData.ownerAddress) {%>
            <div class="container mt-3">
                <div class="col-md-5 center-block" style="float: none; margin: auto">
                    <div style="margin-top: 10px" class="card text-center">
                        <div class="card-header">
                            <h4 style="margin:auto" class="font-weight-bold">Owner Data</h4>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Owner Address</span>
                            <input type="text" class="form-control" id="ownerAddress" name="ownerAddress"
                                value="<%=ownerData.address%>" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Owner Pubkey</span>
                            <input type="text" class="form-control" id="ownerPubkey" name="ownerPubkey"
                                value="<%=ownerData.pubkey%>" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <% } else {%>
                <div class="container mt-3">
                    <div class="col-md-5 center-block" style="float: none; margin: auto">
                        <div style="margin-top: 10px" class="card text-center">
                            <div class="card-header">
                                <h4 style="margin:auto" class="font-weight-bold">Agent Data</h4>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Agent Address</span>
                                <input type="text" class="form-control" id="agentAddress" name="agenuAddress" value=""
                                    readonly>
                            </div>

                        </div>
                    </div>
                </div>
                <% } %>

                    <div class="container mt-3">
                        <div class="col-md-5 center-block" style="float: none; margin: auto">
                            <div style="margin-top: 10px" class="card text-center">
                                <div class="card-header">
                                    <h4 style="margin:auto" class="font-weight-bold">Tenant Data</h4>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tenant Address</span>
                                    <input type="text" class="form-control" id="tenantAddress" name="tenantAddress"
                                        value="<%=tenantData.address%>" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tenant Pubkey</span>
                                    <input type="text" class="form-control" id="tenantPubkey" name="tenantPubkey"
                                        value="<%=tenantData.pubkey%>" readonly>
                                </div>
                                <% if (address==houseData.ownerAddress) {%>
                                    <div class="input-group-append"><button type="button" id="request"
                                            class="btn btn-secondary">request personal data</button></div>
                                    <%} %>
                                    <% if (address==tenantData.address) {%>
                                        <div class="input-group-append"><button type="button" id="upload"
                                                class="btn btn-secondary">upload personal data</button></div>
                                        <%} %>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-3">
                        <div class="col-md-5 center-block" style="float: none; margin: auto">
                            <div style="margin-top: 10px" class="card text-center">
                                <div class="card-header">
                                    <h4 style="margin:auto" class="font-weight-bold">Agreement</h4>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Starting Date</span>
                                    <input type="text" class="form-control" id="startDate" name="startDate" value="">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Duration</span>
                                    <input type="text" class="form-control" id="duration" name="duration" value="">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Agreement Content</span>
                                    <input type="text" class="form-control" id="content" name="content" value="">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Create Agreement</span>
                                    <input class="btn btn-primary" id="CreateAgreement" value="Create">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">View and Sign Agreement</span>
                                    <input class="btn btn-primary" id="ViewAgreement" value="View and Sign">
                                </div>
                            </div>
                        </div>
                    </div>

    </body>
    <script>
        var houseData = JSON.parse('<%- JSON.stringify(houseData) %>');
        var rentData = JSON.parse('<%- JSON.stringify(rentData) %>');
        var ownerData = JSON.parse('<%- JSON.stringify(ownerData) %>');
        var tenantData = JSON.parse('<%- JSON.stringify(tenantData) %>');


        function ajaxAwait(url, data) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    data: data,
                    success: function (res) {
                        console.log('success');
                        resolve(res);
                    },
                    fail: function (xhr, ajaxOptions, thrownError) {
                        console.log('fail');
                        reject(false);
                    },
                });
            });
        }

        async function buildListener() {

            $('#CreateAgreement').on('click', async function (e) {
                let content = $("#content").val();
                let duration = $("#duration").val();
                let startDate = $("#startDate").val();
                let leaseData = {
                    "content": content,
                    "duration": duration,
                    "startDate": startDate
                }


                response = await ajaxAwait(
                    '/leaseSystem/agreement/createAgreement',
                    {
                        ownerAddress: ownerData.address,
                        tenantAddress: tenantData.address,
                        houseAddress: houseData.houseAddress,
                        area: houseData.area,
                        time: leaseData.duration,
                        duration: leaseData.duration,
                        startDate: leaseData.startDate,
                        rent: rentData.rent,
                        content: leaseData.content,
                        ownerPubkey: ownerData.pubkey,
                        tenantPubkey: tenantData.pubkey
                    }
                );
                // console.log(response.toString());
                try {
                    if (response.hashed) {
                        alert(response.msg);
                        alert(response.hashed);

                        let result = await ajaxAwait(
                            '/leaseSystem/leaseManage/agreementCreate',
                            {
                                ownerAddress: ownerData.address,
                                houseAddress: houseData.houseAddress,
                                hashed: response.hashed
                            }
                        );
                        alert(result.msg);
                    }
                    else {
                        alert(`create error ${response.error}`);
                    }
                } catch (error) {
                    alert(`try error ${error}`)
                }
                window.location.reload();
            })

            $('#ViewAgreement').on('click', async function (e) {
                console.log(houseData);
                console.log(rentData);
                console.log(ownerData);
                console.log(tenantData);
                let content = $("#content").val();
                let duration = $("#duration").val();
                let leaseData = {
                    "content": content,
                    "duration": duration
                }

                let Data = {
                    ownerAddress: ownerData.address,
                    tenantAddress: tenantData.address,
                    houseAddress: houseData.houseAddress,
                }
                console.log(Data);
                $.ajax({
                    type: 'POST',
                    url: '/leaseSystem/agreement/agreementPage',
                    dataType: 'json',
                    data: {
                        ownerAddress: ownerData.address,
                        tenantAddress: tenantData.address,
                        houseAddress: houseData.houseAddress,
                    },
                    success: function (res) {
                        console.log('success');
                        if (res.url) {
                            window.location.href = res.url;
                        }
                    },
                    fail: function (xhr, ajaxOptions, thrownError) {
                        console.log('fail');
                        reject(false);
                    },
                });

                // console.log(response.toString());

            })
        }

        async function main() {

            buildListener();
        }

        main();

    </script>
    <%- include('../partials/footer'); %>