<%- include('../partials/header'); %>

    <body>
        <div class="container mt-3">
            <div style="margin-top: 10px">
                <a href="/leaseSystem/leaseManage">back</a>
            </div>
            <div class="col-md-5 center-block card" style="float: none; margin: auto">
                <div class="card-header">
                    <h4 style="margin:auto" class="font-weight-bold">Tenant Data</h4>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Tenant Address</span>
                    <input type="text" class="form-control" value="<%=tenant%>" readonly>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="col-md-5 center-block card" style="float: none; margin: auto">
                <div class="card-header">
                    <h4 style="margin:auto" class="font-weight-bold">Get Personal Data</h4>
                </div>
                <!-- <form action="/leaseSystem/dataSharing/test" method="post"> -->
                    <input type="text" id="tenantAddress" name="tenantAddress" value="<%=tenant%>" hidden>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="name" value="true" id="name">
                        <label class="form-check-label" for="name">
                            name
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="email" value="true" id="email">
                        <label class="form-check-label" for="email">
                            email
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="job" value="true" id="job">
                        <label class="form-check-label" for="job">
                            job
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="salary" value="true" id="salary">
                        <label class="form-check-label" for="salary">
                            salary
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deposit" value="true" id="deposit">
                        <label class="form-check-label" for="deposit">
                            deposit
                        </label>
                    </div>
                    <div class="mt-3 center-block">
                        <input type="button" class="btn btn-primary" value="get result" id="getResult">
                    </div>
                <!-- </form> -->
            </div>
        </div>

    </body>
    <script>
        var contract_address = '<%= contract_address %>';
        var address = '<%= address %>';
        var pubkey = '<%= pubkey %>';

        async function buildListener() {
            $('#getResult').on('click', async function (e) {
                let name = $(`#name`).val();
                console.log(name);
                
            })
        }

        async function main() {
            buildListener();
        }

        main();

    </script>
    <%- include('../partials/footer'); %>