<%- include('../partials/header'); %>

    <body>
        <!-- show house data and rent data -->
        <div class="container mt-3">
            <div style="margin-top: 10px">
                <a href="/leaseSystem/landlord/manageEstate">back</a>
            </div>
            <div class="col-md-5 center-block" style="float: none; margin: auto">
                <div>
                    <h1 style="margin:auto" class="font-weight-bold">Rent</h2>
                </div>
                <div class="card">
                    <h4 style="margin:auto" class="font-weight-bold card-title mt-2">House Data</h4>

                    <div style="margin-top: 10px" class="card text-center">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" class="form-control" id="title" name="title" value="<%=HouseData.title%>"
                                readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Owner Address</span>
                            <input type="text" class="form-control" id="userAddress" name="userAddress"
                                value="<%=address%>" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">House Address</span>
                            <input type="text" class="form-control" id="houseAddress" name="houseAddress"
                                value="<%=HouseData.houseAddress%>" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">House Area</span>
                            <input type="text" class="form-control" value="<%=HouseData.area%>" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Room Type</span>
                            <select class="form-select" id="roomType" name="roomType" readonly>
                                <option selected value="<%=HouseData.type%>" readonly>
                                    <%=HouseData.type%>
                                </option>
                            </select>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">Describe</label>
                            <input type="text" class="form-control" id="describe" name="describe"
                                value="<%=HouseData.describe%>" readonly>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">Picture</label>
                            <input type="file" class="form-control" id="picture" name="picture" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- lease option -->
        <div class="container mt-3">
            <div class="col-md-5 center-block" style="float: none; margin: auto">
                <div class="card">
                    <h4 style="margin:auto" class="font-weight-bold card-title mt-2">Rent Data</h4>
                    <form name="rentForm" action="">
                        <!-- <div style="margin-top: 10px" class="card text-center"> -->
                        <div class="input-group mt-2">
                            <span class="input-group-text">Rent price</span>
                            <input type="number" min="0" class="form-control" id="price" name="price">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="month" id="month" value="month">
                            <label class="form-check-label" for="month">per month</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="year" id="year" value="year">
                            <label class="form-check-label" for="year">per year</label>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">time</span>
                            <input type="text" class="form-control" id="time" name="time">
                        </div>
                        <!-- </div> -->
                    </form>
                    <button id="upload">test upload</button>
                </div>
            </div>
        </div>
    </body>

    <script>
        function isNumber(value) {
            if (isNaN(value) | !value) {
                return false;
            }
            return true;
        }
        async function buildListener() {
            $('#upload').on('click', async function (e) {
                let price = $("#price").val();
                if (isNumber(price)) {
                    let userAddress = $("#userAddress").val();
                    let houseAddress = $("#houseAddress").val();
                    let data = {
                        "userAddress": userAddress,
                        "houseAddress": houseAddress,
                        "price": price
                    };

                    // $.ajax({
                    //     url: '/leaseSystem/landlord/agent',
                    //     data: { "addr": houseAddress },
                    //     type: 'post',
                    // }).then((res) => {
                    //     if (res.url) {
                    //         window.location.href = res.url;
                    //     }
                    // })
                }
                else {
                    alert("rent price must be a numbers!");
                }

            })
        }
        buildListener();
    </script>
    <%- include('../partials/footer'); %>