<%- include('../partials/header'); %>
    <body>
        <div style="margin-top: 10px">
            <a href="/leaseSystem/">back</a>
        </div>

        <%if(!user.agent) {%>
            <div class="row md-3 mt-3">
                <div class="col-md-8 center-block offset-md-2">
                    <div class="card text-center" style="margin:auto">
                        <div class="card-header">
                            <h4 style="margin:auto" class="font-weight-bold">Agent Profile</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address</span>
                                </div>
                                <input class="form-control" name="userAddress" id="userAddress" type="text"
                                    value="<%=address %>" readonly>
                            </div>
                            <table class="mt-2 table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>agent</td>
                                        <td>
                                            <div class="row">
                                                <div class="col">
                                                    <%if(user.agent) {%>
                                                        ture
                                                        <%}else {%>
                                                            false
                                                            <%} %>
                                                </div>
                                        </td>
                                        <td>
                                            <div class="col"></div>
                                            <div class="col"><button id="getCert">getCert</button></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <a href="/leaseSystem/certification" class="btn btn-secondary btn-lg btn-block mt-2" style="
                        width: 450px;
                        height: 40px;
                        line-height: 20px;
                        text-align: center;">certificate</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } else{%>
                <!-- edit profile -->
                <div class="container mt-3">
                    <div class="col-md-5 center-block" style="float: none; margin: auto">
                        
                        <div class="card-header">
                            <h4 style="margin:auto" class="font-weight-bold">Agent Profile</h4>
                        </div>
                        <div style="margin-top: 10px" class="card text-center">
                            <form method="post" action="/leaseSystem/agent/profileUpdate">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input type="text" class="form-control" id="name" name="name"
                                    value="<%=user.name%>">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Address</span>
                                    <input type="text" class="form-control" id="userAddress" name="userAddress"
                                    value="<%=address%>" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Agency</span>
                                    <input type="text" class="form-control" id="Agency" name="Agency"
                                    value="<%=user.agency%>" readonly>
                                </div>
                                <div class="input-group mb-3; row">
                                    <div class="col"><button class="btn btn-primary" type="submit" id="save">save</button></div>
                                    <div class="col"><button class="btn btn-primary" type="reset">reset</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- house manage link -->
                
                <!-- lease contract link -->
                 
                <% } %>
    </body>

    <script>
        async function buildListener() {
            $('#getCert').on('click', async function (e) {
                let userAddress = $("#userAddress").val();
                let data;
                data = {
                    "userAddress": userAddress,
                }

                $.ajax({
                    url: '/leaseSystem/agent/getCert',
                    data: data,
                    type: 'post',
                    success: function (res) {
                        alert(res.msg);
                    },
                    error: function (err) {
                        console.log("error");
                        alert(err);
                    }
                });
            })
        }
        buildListener();
    </script>

    <%- include('../partials/footer'); %>