<%- include('./partials/header'); %>

    <body>
        <div class="container mt-3">
            <div style="margin-top: 10px">
                <a href="/leaseSystem">back</a>
            </div>
            <div class="col-md-5 center-block" style="float: none; margin: auto">
                <div style="margin-top: 10px" class="card text-center">
                    <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                        favorite
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">owner address</th>
                                <th scope="col">house address</th>
                                <th scope="col">btn</th>
                                <th scope="col">sign</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>example</td>
                                <td>example</td>
                                <td>example</td>
                                <td>example</td>
                            </tr> -->
                            <% for (let index=0; index < favorite.length; index++) {%>
                                <tr>
                                    <td>
                                        <input type="text" id="uploader-<%= index %>" name="uploader-<%= index %>"
                                            value="<%=favorite[index].ownerAddress%>" readonly>
                                    </td>
                                    <td>
                                        <input type="text" id="houseAddress-<%= index %>"
                                            name="houseAddress-<%= index %>" value="<%=favorite[index].houseAddress%>"
                                            readonly>
                                    </td>
                                    <td><button class="btn btn-primary" id="details-<%= index %>">details</button></td>
                                    <td><button class="btn btn-primary" id="signing-<%= index %>">signing</button></td>
                                </tr>
                                <%} %>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-5 center-block" style="float: none; margin: auto">
                <div style="margin-top: 10px" class="card text-center">
                    <div style="font-size: 1.5rem; font-weight: bold" class="card-header">
                        Your on leasing house
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">house address</th>
                                <th scope="col">follow person</th>
                                <th scope="col">btn</th>
                                <th scope="col">Create Agreement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>example</td>
                                <td>example</td>
                                <td>example</td>
                                <td>example</td>
                            </tr> -->
                            <% for (let index=0; index < rentData.length; index++) {%>
                                <tr>
                                    <td>
                                        <input type="text" id="estateAddress-<%= index %>"
                                            name="estateAddress-<%= index %>" value="<%=rentData[index].estateAddress%>"
                                            readonly>
                                    </td>
                                    <td>
                                        <select name="follower-<%= index %>" id="follower-<%= index %>">
                                            <option value="" selected>---select a person to sign---</option>
                                            <% for (let i=0; i < befollowed.length; i++) { if
                                                (befollowed[i].houseAddress==rentData[index].estateAddress) {%>
                                                <option value="<%= befollowed[i].address %>"><%= befollowed[i].address %></option>
                                                <% }} %>
                                        </select>
                                    </td>
                                    <td><button class="btn btn-primary" id="ownerDetails-<%= index %>">details</button></td>
                                    <td><button class="btn btn-primary" id="createAgreement-<%= index %>">Create Agreement</button></td>
                                </tr>
                                <%} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script>
        var favorite = JSON.parse('<%- JSON.stringify(favorite) %>');
        var befollowed = JSON.parse('<%- JSON.stringify(befollowed) %>');
        var rentData = JSON.parse('<%- JSON.stringify(rentData) %>');
        async function buildListener() {
            for (let i = 0; i < favorite.length; i++) {

                $(`#details-${i}`).on('click', async function (e) {
                    let houseAddress = $(`#houseAddress-${i}`).val();
                    let uploaderAddress = $(`#uploader-${i}`).val();
                    $.ajax({
                        url: '/leaseSystem/leaseManage/leasePage',
                        data: {
                            "addr": houseAddress,
                            "uploader": uploaderAddress
                        },
                        type: 'post'
                    }).then((res) => {
                        if (res.url) {
                            window.location.href = res.url;
                        }
                    })
                })

            }

            for (let index = 0; index < rentData.length; index++) {
                $(`#createAgreement-${index}`).on('click', async function (e) {
                    let estateAddress = $(`#estateAddress-${index}`).val();
                    let follower = $(`#follower-${index}`).val();
                    if (follower == '') {
                        alert("please select a person");
                        return;
                    }
                    
                    $.ajax({
                        url: '/leaseSystem/leaseManage/agreement',
                        data: {
                            "follower": follower,
                            "estateAddress": estateAddress
                        },
                        type: 'post'
                    }).then((res) => {
                        if (res.url) {
                            window.location.href = res.url;
                        }
                    })
                })
            }

        }
        buildListener();
    </script>
    <%- include('./partials/footer'); %>